<%= form_with(model: truck_tour) do |form| %>
  <% if truck_tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(truck_tour.errors.count, "error") %> prohibited this truck_tour from being saved:</h2>

      <ul>
        <% truck_tour.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :truck_fleet_id %>
    <%= form.collection_select :truck_fleet_id, @truck_fleets, :id, :plate_number, include_black: true %>
  </div>

  <div class="field">
    <%= form.label :distance_in_kilometer %>
    <%= form.number_field :distance_in_kilometer %>
  </div>

  <div class="field">
    <%= form.label :tour_start_date %>
    <%= form.date_select :tour_start_date %>
  </div>

  <div class="field">
    <%= form.label :tour_end_date %>
    <%= form.date_select :tour_end_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
