<p id="notice"><%= notice %></p>

<h1>Truck Tours</h1>

<table>
  <thead>
    <tr>
      <th><%= t("truck_tour.id") %></th>
      <th><%= t("truck_tour.name") %></th>
      <th><%= t("truck_tour.distance_in_kilometer") %></th>
      <th><%= t("truck_tour.tour_start_date") %></th>
      <th><%= t("truck_tour.tour_end_date") %></th>
      <th><%= t("truck_tour.truck_fleet_id") %></th>
      <th colspan="2"><%= t("actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @truck_tours.each do |truck_tour| %>
      <tr>
        <td><%= truck_tour.id %></td>
        <td><%= truck_tour.name %></td>
        <td><%= truck_tour.distance_in_kilometer %></td>
        <td><%= truck_tour.tour_start_date %></td>
        <td><%= truck_tour.tour_end_date %></td>
        <td><%= truck_tour.truck_fleet_id %></td>
        <td><%= link_to 'Edit', edit_truck_tour_path(truck_tour) %></td>
        <td><%= link_to 'Destroy', truck_tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Truck Tour', new_truck_tour_path %>
